@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

.body{
    font-family: "Cantora One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.title{
    text-align: center;
    color: #ead08f;
    font-size: 4em;
}

.cardsSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Las tarjetas se expanden de forma flexible */
    gap: 20px; 
    padding: 20px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  
  @media (max-width: 768px) {
    /* En pantallas medianas (tablets), las tarjetas se mostrarán en dos columnas */
    .cardsSection {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    }
  }
  
  @media (max-width: 480px) {
    /* En pantallas pequeñas (teléfonos), las tarjetas se mostrarán en una columna */
    .cardsSection {
      grid-template-columns: 1fr; /* Una columna */
    }
  }
  
