@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

.body{
    background-image: url('/images/bg1.jpg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    font-weight: 400;
    font-style: normal;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}


.subtitle{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(64, 21, 21, 0.321);
    margin: 20px;
    border-radius: 5px;
    padding: 1rem;
}
